@inherits LayoutComponentBase

<PageTitle>Suggestion App With Tim Corey</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
